*{
  margin: 0;
  padding: 0;
}

:root{
  font-size:0.875rem;
}

body{
  height: 100vh;
  background: conic-gradient(from 10deg at 20% 30%, rgba(13, 13, 13, 0.579), black);
  background-repeat: no-repeat;
  color: white;
}