
.blogs{

  width: 80%;
  margin: 2.5em auto;
}

.blog-intro{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1em;
}

.blog-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.preview-post{
  width: 400px;
  height: 300px;
  border: 1px solid gray;
  border-radius: .5em;
  padding: 1em;
}