

.login-form{
  margin-top: 5em;
  width: fit-content;
  padding: 2em;
  backdrop-filter: blur(50px);
  border: 1px solid gray;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  gap:2em
}

.input-data{
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.form-data{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.input-field{
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 1.5em;
  color: white;
}

.submit-btn{
  border: 1px solid gray;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  padding: .2em;
  border-radius: .5em;
  cursor: pointer;
  &:hover{
    border-color: white;
  }
}


.form-message{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.action-link{
  text-decoration: none;
  border: 1px solid gray;
  color: white;
  padding: .2em .4em;
  border-radius: .5em;
  &:hover{
    border-color: white;
  }
}