.navigation{
  height: 17vh;
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center;
}

.logo{
  font-size: 2em;
  font-weight: 600;
}

.read-btn{
  font-weight: 700;
  font-size: 1.2em;
  padding: .5em 1em;
  border-radius: .6em;
  background: transparent;
  outline: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}