

.user-nav{
  display: flex;
  align-items: center;
  height: 10vh;
  justify-content: space-around;
}

.link-list{
  display: flex;
  gap: 2em;
}

.link-list > a{
  text-decoration: none;
  color: white;
}